.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.split-pane {
    -fx-background-color: null;
    -fx-padding: 0px;
}


#editorTopHBox {
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: darkred;
}


/*.split-pane > .split-pane-divider {
    -fx-background-color: linear-gradient(to right, #ecf4fa 0%, #ced4d9 100%);
    -fx-padding: 0 3 0 3;*.split-pane-divider,
        #hiddenSplitter *.vertical-grabber, 
        #hiddenSplitter *.horizontal-grabber {
    -fx-background-color: #48e31b;
    -fx-border-color: #48e31b;
    -fx-padding: 5px;
}*/

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: #48e31b;
}


#searchPane {
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: blue;
}

#addElementButton {
    -fx-text-fill: white;
    -fx-background-color: darkgreen;
}

#editorSearchPane {
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: darkred;
}

#editorPane {
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: darkred;
}

.showToggleButton:selected {
    -fx-background-color: rgba(0, 0, 0, 0.08),
    linear-gradient(#9a9a9a, #909090),
    linear-gradient(white 0%, #e3e3f3 50%, #dcdcec 51%, #d2d2f2 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 5, 5, 4;
    -fx-padding: 4;
    -fx-text-fill: #2d3e4c;
}

.showToggleButton {
    -fx-background-color: rgba(0, 0, 0, 0.08),
    linear-gradient(#9a9a9a, #909090),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 5, 5, 4;
    -fx-padding: 4;
    -fx-text-fill: #B2B2B2;
}